*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
   --purple: rgb(138, 21, 118);
    --blue: rgb(15, 87, 221);
    --lightblue: rgb(117, 165, 204);
    --red: rgb(97, 29, 29);
    --white: #ffff;
   --grey: rgb(97, 90, 90);
   --lightgrey: rgb(177, 177, 177);
}


body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
}

.container {
    width: 800px;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgrey);
    border-radius: 5px;
    box-shadow: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.btn-box {
    display: grid;
    gap: 10px
}

.btn {
font-size: 30px;
padding: 2;
text-align: center;
background-color: var(--purple);
border-radius: 5px;
}

.hidden {
    display: none;
}
